@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
}

body{
    background: #0D0D2B;
}

img{
    max-width: 100%;
}

h1{
    font-size: 2rem;
    font-weight: 700;
}

h2{
    font-size: 1.8rem;
    font-weight: 700;
}

h3{
    font-size: 1.2rem;
    font-weight: 500;
}

p,
a,
li{
    font-size: 0.8rem;
    font-weight: 400;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em 0;
}

.card{
    background: #ffffff;
}

.section-four{
    background: #ffffff;
}

.section-five{
    background: #2B076E;
}

.section-six{
    background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
}

.cards span{
    font-weight: 500;
    font-size: 1.125rem;
}

@media (max-width:320px){
    .hamburger{
        margin-left: 7em;
    }
    .pay{
        margin-left: .8em;
    }

    .footer-body .logo{
        margin-left: 5em;
    }

    .socials,
    .copy{
        margin-left: 4em;
    }
}

@media (min-width: 768px){
    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 2.1rem;
    }

    h3{
        font-size: 2rem;
    }

    p,
    a,
    li{
        font-size: 1rem;
    }
}

/* hamburger menu */

.hamburger{
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #fff;
    transform: rotate(0);
    transition: all .5s;
}

.hamburger-middle{
    transform: translateY(7px);
}

.hamburger-bottom{
    transform: translateY(14px);
}

.open{
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle{
    display: none;
}

.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}